{% extends 'base.html' %}

{% block content %}
    <h2>Аккаунт</h2>
    <h3>{{ account.username }}</h3>
    <p><a href="{% url 'post_create' %}">Добавить пост</a></p>
    <hr>
    <h3>Ваши посты:</h3>
    {% for post in posts %}
        <div>
            <h4><a href="{% url 'post_show' slug=post.slug %}">{{ post.title }}</a></h4>
            <p>{{ post.created_at }}</a></p>
            <p>{{ post.text }}</p>
            <p>Рейтинг: {{ post.rating }}</p>
        </div>
        <hr>
    {% empty %}
        <p>Нет статей</p>
    {% endfor %}
{% endblock %}