{% extends 'base.html' %}

{% block content %}
    <h1>Опубликованные посты</h1>
    {% for post in posts %}
        <div>
            <h2><a href="{% url 'post_show' slug=post.slug %}">{{ post.title }}</a></h2>
            <p>{{ post.created_at }}, {{ post.author_id }}</a></p>
            <p>{{ post.text }}</p>
            <p>Рейтинг: {{ post.rating }}</p>
        </div>
        <hr>
    {% empty %}
        <p>Нет статей</p>
    {% endfor %}
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Сюда</a></span>
                </li>
            {% endif %}
                <li>
                    <span>{{ page_obj.number }}</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Туда</a></span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}